{% extends 'principal/base.html' %} {% block menu %} {% endblock menu %} {% block barraLateral %} {% endblock barraLateral %} {% block contenido %}

<body>
	<div class="w-50 mt-5 ocultar ml-5 mb-n5">
        <a class="btn btn-info border-light  ml-5  tamano" href="{% url 'listar' %}">Regresar</a>
    </div>
    <section class="d-flex justify-content-center centerH">
        <form id="formulario" class="form-group " method="post" accept-charset="utf-8">
            {% csrf_token %}
            <h1> Recuperar Contraseña </h1>
            <label class="col-form-label font-weight-bold h3 mt-4" for="id_email">Correo</label>
            <input class="form-control" type="text" name="email">

            <input class="btn centerBTN btn-primary mt-2 form-group " type="submit" name="Enviar" value="Recuperar" />
        </form>
    </section>
</body>
{% endblock contenido %}
{% block footer %}
    
{% endblock footer %}